*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    width: 100vw;
}
.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.container h1{
    font-size: 45px;
    padding: 15px 0;
}
nav{
    background:crimson;
    color: #fff;
}
section.input{
    padding-top: 100px;
}
h2{
    text-align: center;
    font-size: 34px;
}
.form_wrap{
    display: flex;
    justify-content: center;
    margin:0 auto;
}
.input_wrap{
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin: 20px auto;
}
input{
    border: none;
    padding:10px;
    font-size: 16px;
    min-width: 80%;
    min-width: 90%;
    outline: none;
}
button#search{
    border: none;
    padding:10px;
    background:crimson;
    color: white;
    font-size: 16px
}
section.data{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.loading{
    display: none;
}
section.data p.def{
    font-size: 20px;
    color: green;
    line-height: 1.6;
}
.not-found{
  width: 80%;
  margin: 0 auto;
  
}



.suggested{
  background: grey;
  color: white;
  padding: 5px 10px;
  margin-right: 3px;
  border-radius: 4px;
  margin-top: 5px;
  display:inline-block;

}
.audio{
    margin-top: 20px;
}
audio::-webkit-media-controls-play-button,
     audio::-webkit-media-controls-panel {
     background-color: crimson;     
     }